# Python-specific ignores
*.pyc
__pycache__/

# macOS-specific ignores
.DS_Store

# Editors and IDEs
.vscode/
*.code-workspace
*.sublime-workspace

# Virtual environments
.env/

# Project-specific ignores
# Add any project-specific files or directories to ignore here
